.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  font-size: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stepper-wrapper {
  height: 65px;
  margin-top: 10px;
}

.stepper-wrapper img {
  height: 21px;
  width: 21px;
  margin-top: 6px;
}

.stepper-wrapper div div div div:first-child {
  -webkit-box-shadow: -1px 6px 3px rgba(28,110,164,0.28);
  -moz-box-shadow: -1px 6px 3px rgba(28,110,164,0.28);
  box-shadow: -1px 6px 3px rgba(28,110,164,0.28);
}

.stepper-wrapper div {
  border-top-width: 5px !important;
}
